[req]
default_bits = 2048
prompt = no
default_md = sha256

[dn]
C = FR
ST = PACA
L = TOULON
O = ISEN
OU = M1
CN = ACINTERMEDIATE

[v3_intermediate_ca]
basicConstraints = CA:true
keyUsage = cRLSign, keyCertSign
