<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<link rel="stylesheet" href="../static/formulaire.css" type="text/css" media="all" />
	<script>
		function goToForm() {
			window.location.href = "/formulaire.html";
		}
	</script>

</head>

<body>
	<div class="main-w3layouts wrapper">
		<h1>Wrong validation code</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<h2>Return to the form</h2>
				<input type="submit" value="OK" onclick="goToForm()">
			</div>
		</div>
	</div>
</body>
</html>