<!DOCTYPE html>
<html>
<head>
    <title>Revoke</title>
    <link rel="stylesheet" href="../static/formulaire.css" type="text/css" media="all"/>
</head>

<body>
<div class="main-w3layouts wrapper">
    <h1>Revoke a certificate</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form method="post" action="/revoke.html">
                <input class="text email" type="email" name="Email" placeholder="Email" required="">
                <input class="text" type="text" id="code" name="Code" placeholder="Validation Code" required="">
                <input class="text" type="text" id="reason" name="Reason" placeholder="Reason" required="">
                <div class="wthree-text">
                    <div class="clear"></div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>
