<!DOCTYPE html>
<html>
<head>
    <title>Revoke</title>
    <link rel="stylesheet" href="../static/formulaire.css" type="text/css" media="all"/>
</head>

<body>
<div class="main-w3layouts wrapper">
    <h1>Revoke a certificate</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form method="post" action="/revoke.html">
                <input class="text email" type="email" name="Email" placeholder="Email" required="">
                <input class="text" type="text" id="code" name="Code" placeholder="Validation Code" required="">
                <select class="dropdown" id="reason" name="Reason" required="">
                    <option class="option" value="">--Please choose a reason--</option>
                    <option class="option" value="unspecified">unspecified</option>
                    <option class="option" value="keyCompromise">keyCompromise</option>
                    <option class="option" value="CACompromise">CACompromise</option>
                    <option class="option" value="affiliationChanged">affiliationChanged</option>
                    <option class="option" value="superseded">superseded</option>
                    <option class="option" value="cessationOfOperation">cessationOfOperation</option>
                    <option class="option" value="certificateHold">certificateHold</option>
                    <option class="option" value="removeFromCRL">removeFromCRL</option>
                </select>
                <div class="wthree-text">
                    <div class="clear"></div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>
