<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="../static/formulaire.css" type="text/css" media="all"/>
    <script>
          function goToForm() {
              window.location.href = "/formulaire.html";
          }
     </script>
</head>

<body>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>Certificate created</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
          <h2>Create a new certificate ?</h2>
                <input type="submit" value="YES" onclick="goToForm()">
        </div>
    </div>
</div>
</body>
</html>
