<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
    <link rel="stylesheet" href="../static/formulaire.css" type="text/css" media="all"/>
    <script>
          function goToHome() {
              window.location.href = "/home.html";
          }

          function download() {
              window.location.href = "/download";
          }

    </script>
</head>

<body>
<div class="main-w3layouts wrapper">
    <h1>Certificate created</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <h2>Download your certificate</h2>
            <input type="submit" value="DOWNLOAD" onclick="download()">

            <div class="wthree-text">
                <div class="clear"></div>
            </div>
            <h2>Handle another certificate ?</h2>
            <input type="submit" value="YES" onclick="goToHome()">
        </div>
    </div>
</div>
</body>
</html>
