<!DOCTYPE html>
<html>
<head>
    <title>Code</title>
    <link rel="stylesheet" href="../static/formulaire.css" type="text/css" media="all"/>
</head>

<body>
<!-- main -->
<div class="main-w3layouts wrapper">
    <h1>Enter the validation code</h1>
    <div class="main-agileinfo">
        <div class="agileits-top">
            <form method="post" action="/verification.html">
                <input class="text" type="number" id="code" name="code" placeholder="Code" required="">
                <div class="wthree-text">
                    <div class="clear"></div>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>
